Repository kuwala-io/kuwala, pull requests merged in 2022-04, with the labels that each got.

#118 Data Blocks - Create, Select & Previews
  kuwala/core/backend/app/controller/data_source/snowflake.py
  kuwala/core/backend/app/database/schemas/data_source.py
  kuwala/core/backend/app/routers/data_catalog.py
  kuwala/core/backend/app/routers/data_source.py
  kuwala/core/canvas/README.md
  kuwala/core/canvas/package-lock.json
  kuwala/core/canvas/package.json
  kuwala/core/canvas/src/api/DataBlockApi.js
  kuwala/core/canvas/src/api/DataSourceApi.js
  kuwala/core/canvas/src/components/DataView/index.js
  kuwala/core/canvas/src/components/Explorer/ExplorerBody/ExplorerPreviewBody.js
  kuwala/core/canvas/src/components/Explorer/ExplorerBody/ExplorerSelectorBody.js
  kuwala/core/canvas/src/components/Explorer/index.js
  kuwala/core/canvas/src/components/Explorer/selector-style.css
  kuwala/core/canvas/src/components/Header.js
  kuwala/core/canvas/src/components/Modals/NodeConfigModal.js
  kuwala/core/canvas/src/components/Modals/node-config-modal.css
  kuwala/core/canvas/src/components/Nodes/DataBlock.js
  kuwala/core/canvas/src/components/Nodes/DataSourceNode.js
  kuwala/core/canvas/src/components/Nodes/VisualizationNode.js
  kuwala/core/canvas/src/components/SchemaExplorer/index.js
  kuwala/core/canvas/src/components/Sidebar/NodeHandlerContainer.js
  kuwala/core/canvas/src/components/Sidebar/NodeHandlers/DataBlocksHandler.js
  kuwala/core/canvas/src/components/Sidebar/NodeHandlers/DataSourceHandler.js
  kuwala/core/canvas/src/components/Sidebar/NodeHandlers/TransformationHandler.js
  kuwala/core/canvas/src/components/Sidebar/NodeHandlers/VisualizationHandler.js
  kuwala/core/canvas/src/components/Sidebar/index.js
  kuwala/core/canvas/src/constants/api.js
  kuwala/core/canvas/src/constants/components.js
  kuwala/core/canvas/src/constants/styling.js
  kuwala/core/canvas/src/data/dto/DataBlockDTO.js
  kuwala/core/canvas/src/data/dto/DataSourceDTO.js
  kuwala/core/canvas/src/data/state/Store.js
  kuwala/core/canvas/src/data/state/models/CanvasModel.js
  kuwala/core/canvas/src/data/state/models/CommonModel.js
  kuwala/core/canvas/src/icons/check-solid.svg
  kuwala/core/canvas/src/index.js
  kuwala/core/canvas/src/pages/App.js
  kuwala/core/canvas/src/pages/DataPipelineManagement.js
  kuwala/core/canvas/src/pages/DataSourceConfiguration.js
  kuwala/core/canvas/src/pages/DataSourcePreview.js
  kuwala/core/canvas/src/pages/styles.css
  kuwala/core/canvas/src/state/models/CanvasModel.js
  kuwala/core/canvas/src/utils/SchemaUtils.js
  kuwala/core/canvas/src/utils/TablePreviewUtils.js
  kuwala/core/canvas/src/utils/TableSelectorUtils.js
  kuwala/core/canvas/tailwind.config.js
Labels: enhancement, core, frontend, data block, canvas

#120 Automate Robyn demo on Python
  kuwala/core/backend/app/models/demo/README.md
  kuwala/core/backend/app/models/demo/demo.py
  kuwala/core/backend/app/models/demo/robyn_demo.r
  kuwala/core/backend/requirements.txt
Labels: enhancement, core, backend

#123 🩹 Fixed parsing of subprocess output for dbt files
  docker-compose.yml
  kuwala/core/backend/app/controller/data_block_controller.py
  kuwala/core/backend/app/controller/transformation_block_controller.py
  kuwala/core/backend/app/controller/utils/__init__.py
  kuwala/core/backend/app/controller/utils/yaml_utils.py
  kuwala/core/backend/app/dbt/kuwala_blocks/macros/general/is_false.sql
  kuwala/core/backend/app/dbt/kuwala_blocks/macros/general/is_true.sql
  kuwala/core/backend/app/dbt/kuwala_blocks/macros/merging/join_by_id.sql
  kuwala/core/backend/app/dbt/kuwala_blocks/macros/merging/union.sql
  kuwala/core/backend/app/dbt/kuwala_blocks/macros/numeric/add_columns.sql
  kuwala/core/backend/app/dbt/kuwala_blocks/macros/numeric/compare_with_number.sql
  kuwala/core/backend/app/dbt/kuwala_blocks/macros/text/contains_keyword.sql
  kuwala/core/backend/app/dbt/kuwala_blocks/macros/text/filter_by_keywords.sql
  kuwala/core/backend/app/dbt/kuwala_blocks/macros/text/filter_by_regex.sql
  kuwala/core/backend/app/dbt/kuwala_blocks/macros/time/compare_with_date.sql
Labels: bug, core, backend, data block, transformation block
