Repository kuwala-io/kuwala, pull requests merged in 2022-03, with the labels that each got.

#98 Notebook: Save results as data set
  kuwala/core/jupyter/modules/common.py
  kuwala/core/jupyter/notebooks/popularity_correlation.ipynb
  kuwala/core/jupyter/requirements.txt
Labels: enhancement, core, Jupyter Notebook

#103 ✅ Selecting data sources
  kuwala/core/backend/app/database/crud/data_catalog.py
  kuwala/core/backend/app/database/crud/data_source.py
  kuwala/core/backend/app/database/database.py
  kuwala/core/backend/app/database/models/data_source.py
  kuwala/core/backend/app/database/schemas/data_catalog.py
  kuwala/core/backend/app/database/schemas/data_source.py
  kuwala/core/backend/app/database/utils/__init__.py
  kuwala/core/backend/app/database/utils/encoder.py
  kuwala/core/backend/app/main.py
  kuwala/core/backend/app/routers/data_catalog.py
  kuwala/core/backend/app/routers/data_source.py
Labels: enhancement, core, backend

#104 🔌 Test and save data source connection parameters
  docker-compose.yml
  kuwala/core/backend/app/controller/__init__.py
  kuwala/core/backend/app/controller/data_source/__init__.py
  kuwala/core/backend/app/controller/data_source/data_source.py
  kuwala/core/backend/app/controller/data_source/postgres.py
  kuwala/core/backend/app/database/crud/data_catalog.py
  kuwala/core/backend/app/database/crud/data_source.py
  kuwala/core/backend/app/database/database.py
  kuwala/core/backend/app/database/models/data_source.py
  kuwala/core/backend/app/database/schemas/data_source.py
  kuwala/core/backend/app/database/utils/encoder.py
  kuwala/core/backend/app/main.py
  kuwala/core/backend/app/routers/data_catalog.py
  kuwala/core/backend/app/routers/data_source.py
Labels: enhancement, core, backend

#105 👀 Data preview of table
  kuwala/core/backend/app/controller/data_source/data_source.py
  kuwala/core/backend/app/controller/data_source/postgres.py
  kuwala/core/backend/app/database/crud/data_source.py
  kuwala/core/backend/app/database/utils/encoder.py
  kuwala/core/backend/app/main.py
  kuwala/core/backend/app/resources/data_sources/postgres_database_structure.sql
  kuwala/core/backend/app/routers/data_source.py
Labels: enhancement, core, backend

#106 Features/postgeres connector frontend
  kuwala/core/canvas/.env
  kuwala/core/canvas/package-lock.json
  kuwala/core/canvas/package.json
  kuwala/core/canvas/src/api/BaseAxios.js
  kuwala/core/canvas/src/api/DataCatalogApi.js
  kuwala/core/canvas/src/api/DataSourceApi.js
  kuwala/core/canvas/src/components/DataView/index.js
  kuwala/core/canvas/src/components/Header.js
  kuwala/core/canvas/src/components/Nodes/DataSourceNode.js
  kuwala/core/canvas/src/components/NotificationPanel.js
  kuwala/core/canvas/src/components/Sidebar/index.js
  kuwala/core/canvas/src/constants/api.js
  kuwala/core/canvas/src/icons/add_sources_green.png
  kuwala/core/canvas/src/icons/arrow-down-solid.svg
  kuwala/core/canvas/src/icons/arrow-right-solid.svg
  kuwala/core/canvas/src/icons/list.svg
  kuwala/core/canvas/src/index.js
  kuwala/core/canvas/src/pages/App.js
  kuwala/core/canvas/src/pages/DataCatalog.js
  kuwala/core/canvas/src/pages/DataPipelineManagement.js
  kuwala/core/canvas/src/pages/DataSourceConfiguration.js
  kuwala/core/canvas/src/pages/DataSourcePreview.js
  kuwala/core/canvas/src/pages/styles/data-pipeline-management.style.css
  kuwala/core/canvas/src/state/Store.js
  kuwala/core/canvas/src/state/models/CanvasModel.js
  kuwala/core/canvas/src/state/models/CommonModel.js
  kuwala/core/canvas/src/store/elementStore.js
  kuwala/core/canvas/tailwind.config.js
Labels: enhancement, core, frontend, canvas

#107 🔍 API routes for BigQuery connector
  kuwala/core/backend/README.md
  kuwala/core/backend/app/controller/data_source/bigquery.py
  kuwala/core/backend/app/controller/data_source/data_source.py
  kuwala/core/backend/app/database/schemas/data_source.py
  kuwala/core/backend/app/main.py
  kuwala/core/backend/app/resources/data_catalog_items.json
  kuwala/core/backend/app/routers/data_source.py
  kuwala/core/backend/requirements.txt
  kuwala/core/canvas/README.md
Labels: enhancement, core, backend

#108 🔗 Postgres Connector - Data Source Config
  kuwala/core/canvas/package-lock.json
  kuwala/core/canvas/package.json
  kuwala/core/canvas/public/index.html
  kuwala/core/canvas/src/api/DataSourceApi.js
  kuwala/core/canvas/src/pages/DataPipelineManagement.js
  kuwala/core/canvas/src/pages/DataSourceConfiguration.js
  kuwala/core/canvas/src/pages/DataSourcePreview.js
  kuwala/core/canvas/src/pages/styles/data-pipeline-management.style.css
  kuwala/core/canvas/src/state/models/CanvasModel.js
  kuwala/core/canvas/tailwind.config.js
Labels: enhancement, core, frontend, canvas

#112 🕵🏼 Filter preview by column and get column types
  kuwala/core/backend/app/controller/data_source/bigquery.py
  kuwala/core/backend/app/controller/data_source/data_source.py
  kuwala/core/backend/app/controller/data_source/postgres.py
  kuwala/core/backend/app/routers/data_source.py
Labels: enhancement, core, backend

#110 👀 Preview of table and connection to BigQuery
  kuwala/core/canvas/package-lock.json
  kuwala/core/canvas/package.json
  kuwala/core/canvas/src/api/DataSourceApi.js
  kuwala/core/canvas/src/components/Header.js
  kuwala/core/canvas/src/constants/placeholder.js
  kuwala/core/canvas/src/icons/folder-solid.svg
  kuwala/core/canvas/src/icons/table-solid.svg
  kuwala/core/canvas/src/pages/App.js
  kuwala/core/canvas/src/pages/DataPipelineManagement.js
  kuwala/core/canvas/src/pages/DataSourceConfiguration.js
  kuwala/core/canvas/src/pages/DataSourcePreview.js
  kuwala/core/canvas/src/pages/styles/data-pipeline-management.style.css
  kuwala/core/canvas/src/pages/styles/data-source-preview-table.style.css
  kuwala/core/canvas/tailwind.config.js
Labels: core, frontend, canvas

#115 👀♼ Get preview of a data in data block and update parameters
  kuwala/core/backend/README.md
  kuwala/core/backend/app/controller/data_block_controller.py
  kuwala/core/backend/app/controller/data_source/bigquery.py
  kuwala/core/backend/app/controller/data_source/data_source.py
  kuwala/core/backend/app/controller/data_source/postgres.py
  kuwala/core/backend/app/controller/dbt_controller.py
  kuwala/core/backend/app/database/crud/common.py
  kuwala/core/backend/app/database/crud/data_block.py
  kuwala/core/backend/app/database/crud/data_catalog.py
  kuwala/core/backend/app/database/crud/data_source.py
  kuwala/core/backend/app/database/models/data_block.py
  kuwala/core/backend/app/database/models/data_catalog.py
  kuwala/core/backend/app/database/models/data_source.py
  kuwala/core/backend/app/database/schemas/data_block.py
  kuwala/core/backend/app/database/schemas/data_catalog.py
  kuwala/core/backend/app/database/schemas/data_source.py
  kuwala/core/backend/app/main.py
  kuwala/core/backend/app/routers/data_block.py
  kuwala/core/backend/app/routers/data_catalog.py
  kuwala/core/backend/app/routers/data_source.py
  kuwala/core/backend/dockerfile
  kuwala/core/backend/requirements.txt
Labels: enhancement, core, backend, data block
