Repository kuwala-io/kuwala, pull requests merged in 2022-05, with the labels that each got.

#125 📦 Transformation Blocks Add to Canvas
  kuwala/core/canvas/src/api/TransformationBlock.js
  kuwala/core/canvas/src/components/Common/Block/index.js
  kuwala/core/canvas/src/components/Common/Button/index.js
  kuwala/core/canvas/src/components/Common/Icon/index.js
  kuwala/core/canvas/src/components/Modals/DataBlockConfig/DataBlockConfigModal.js
  kuwala/core/canvas/src/components/Modals/TransformationCatalog/TransformationCatalogModal.js
  kuwala/core/canvas/src/components/Modals/TransformationConfigModal/TransformationConfigModal.js
  kuwala/core/canvas/src/components/Nodes/DataBlock.js
  kuwala/core/canvas/src/components/Nodes/TransformationBlock/TransformationBlock.js
  kuwala/core/canvas/src/components/Nodes/TransformationBlock/TransformationBlockStyle.js
  kuwala/core/canvas/src/components/Sidebar/NodeHandlers/DataBlocksHandler.js
  kuwala/core/canvas/src/constants/api.js
  kuwala/core/canvas/src/constants/nodeTypes.js
  kuwala/core/canvas/src/constants/styling.js
  kuwala/core/canvas/src/data/dto/TransformationBlockDTO.js
  kuwala/core/canvas/src/data/dto/TransformationCatalogDTO.js
  kuwala/core/canvas/src/data/state/models/CanvasModel.js
  kuwala/core/canvas/src/data/state/models/CommonModel.js
  kuwala/core/canvas/src/pages/App.js
Labels: core, frontend, canvas

#126 🔗 Transformation Block: added node connector management
  kuwala/core/canvas/src/components/Common/ConnectionEdge/index.js
  kuwala/core/canvas/src/components/Common/ConnectionLine/index.js
  kuwala/core/canvas/src/components/Common/Icon/index.js
  kuwala/core/canvas/src/components/Header.js
  kuwala/core/canvas/src/components/Nodes/TransformationBlock/TransformationBlock.js
  kuwala/core/canvas/src/components/Sidebar/NodeHandlerContainer.js
  kuwala/core/canvas/src/components/Sidebar/index.js
  kuwala/core/canvas/src/constants/edgeTypes.js
  kuwala/core/canvas/src/constants/styling.js
  kuwala/core/canvas/src/data/dto/DataBlockDTO.js
  kuwala/core/canvas/src/data/dto/TransformationBlockDTO.js
  kuwala/core/canvas/src/data/state/models/CanvasModel.js
  kuwala/core/canvas/src/pages/App.js
  kuwala/core/canvas/src/pages/styles.css
  kuwala/core/canvas/src/utils/IconsLoader.js
Labels: enhancement, core, frontend, data block, transformation block, canvas

#130 📩 Update Slack link
  CONTRIBUTING.md
  README.md
Labels: documentation

#129 💾🤝🏽 Save and connect transformation blocks
  docker-compose.yml
  kuwala/core/backend/app/controller/data_block_controller.py
  kuwala/core/backend/app/controller/data_source/data_source.py
  kuwala/core/backend/app/dbt/kuwala_blocks/macros/text/filter_by_regex.sql
  kuwala/core/backend/app/resources/transformation_catalog/text/filter_by_keywords.json
  kuwala/core/canvas/dockerfile
  kuwala/core/canvas/package-lock.json
  kuwala/core/canvas/package.json
  kuwala/core/canvas/src/api/DataBlockApi.js
  kuwala/core/canvas/src/api/TransformationBlock.js
  kuwala/core/canvas/src/components/Canvas/index.js
  kuwala/core/canvas/src/components/Common/Block/index.js
  kuwala/core/canvas/src/components/Common/Button/index.js
  kuwala/core/canvas/src/components/Common/Inputs/TextInput/index.js
  kuwala/core/canvas/src/components/Common/Modal/index.js
  kuwala/core/canvas/src/components/Common/Switcher/SwitcherStyle.js
  kuwala/core/canvas/src/components/Common/Switcher/index.js
  kuwala/core/canvas/src/components/Common/index.js
  kuwala/core/canvas/src/components/DataView/index.js
  kuwala/core/canvas/src/components/Modals/DataBlockConfig/DataBlockConfigBody.js
  kuwala/core/canvas/src/components/Modals/DataBlockConfig/DataBlockConfigFooter.js
  kuwala/core/canvas/src/components/Modals/DataBlockConfig/DataBlockConfigHeader.js
  kuwala/core/canvas/src/components/Modals/DataBlockConfig/DataBlockConfigModal.js
  kuwala/core/canvas/src/components/Modals/TransformationBlockConfig/ConfigurationForm.js
  kuwala/core/canvas/src/components/Modals/TransformationBlockConfig/TransformationBlockConfigBody.js
  kuwala/core/canvas/src/components/Modals/TransformationBlockConfig/TransformationBlockConfigFooter.js
  kuwala/core/canvas/src/components/Modals/TransformationBlockConfig/TransformationBlockConfigHeader.js
  kuwala/core/canvas/src/components/Modals/TransformationBlockConfig/TransformationBlockConfigModal.js
  kuwala/core/canvas/src/components/Modals/TransformationBlockConfig/TransformationBlockConfigModalStyle.js
  kuwala/core/canvas/src/components/Modals/TransformationCatalog/TransformationCatalogModal.js
  kuwala/core/canvas/src/components/Modals/TransformationConfigModal/TransformationConfigModal.js
  kuwala/core/canvas/src/components/Nodes/TransformationBlock/TransformationBlock.js
  kuwala/core/canvas/src/components/Nodes/TransformationNode.js
  kuwala/core/canvas/src/constants/styling.js
  kuwala/core/canvas/src/data/dto/TransformationBlockDTO.js
  kuwala/core/canvas/src/data/dto/TransformationCatalogDTO.js
  kuwala/core/canvas/src/data/state/models/CanvasModel.js
  kuwala/core/canvas/src/pages/App.js
  kuwala/core/canvas/src/utils/BlockUtils.js
  kuwala/core/canvas/src/utils/ElementUtils.js
  kuwala/core/canvas/src/utils/IconsLoader.js
  kuwala/core/canvas/tailwind.config.js
Labels: enhancement, frontend, data block, canvas

#131 📍 Save position of blocks (backend 🧑🏽‍💻)
  .github/workflows/frontend.yml
  README.md
  kuwala/core/backend/app/controller/block_controller.py
  kuwala/core/backend/app/controller/data_block_controller.py
  kuwala/core/backend/app/controller/transformation_block_controller.py
  kuwala/core/backend/app/database/crud/data_block.py
  kuwala/core/backend/app/database/crud/transformation_block.py
  kuwala/core/backend/app/database/models/data_block.py
  kuwala/core/backend/app/database/models/transformation_block.py
  kuwala/core/backend/app/database/schemas/data_block.py
  kuwala/core/backend/app/database/schemas/transformation_block.py
  kuwala/core/backend/app/main.py
  kuwala/core/backend/app/routers/block.py
  kuwala/core/backend/app/routers/data_block.py
  kuwala/core/canvas/README.md
Labels: documentation, enhancement, core, backend, data block, transformation block, canvas

#138 👀 Updated main README
  README.md
  docs/images/kuwala_header_github.png
Labels: documentation

#139 📁 Export Catalog Modal & Selections
  kuwala/core/backend/app/database/crud/export_catalog.py
  kuwala/core/backend/app/database/crud/export_catalog_category.py
  kuwala/core/backend/app/database/models/export_catalog.py
  kuwala/core/backend/app/database/models/export_catalog_category.py
  kuwala/core/backend/app/database/schemas/export_catalog.py
  kuwala/core/backend/app/database/schemas/export_catalog_category.py
  kuwala/core/backend/app/main.py
  kuwala/core/backend/app/resources/export_catalog/categories.json
  kuwala/core/backend/app/resources/export_catalog/file/download_as_csv.json
  kuwala/core/backend/app/routers/export_catalog.py
  kuwala/core/canvas/src/api/ExportCatalog.js
  kuwala/core/canvas/src/components/Common/Button/index.js
  kuwala/core/canvas/src/components/Modals/BlockCatalog/BlockCatalogModal.js
  kuwala/core/canvas/src/components/Modals/BlockCatalog/CommonBlockCatalogModalStyle.js
  kuwala/core/canvas/src/components/Modals/BlockCatalog/ExportCatalog/ExportCatalogBody.js
  kuwala/core/canvas/src/components/Modals/BlockCatalog/ExportCatalog/ExportCatalogFooter.js
  kuwala/core/canvas/src/components/Modals/BlockCatalog/ExportCatalog/ExportCatalogModal.js
  kuwala/core/canvas/src/components/Modals/BlockCatalog/ExportCatalog/ExportCatalogSelector.js
  kuwala/core/canvas/src/components/Modals/BlockCatalog/TransformationCatalog/TransformationCatalogBody.js
  kuwala/core/canvas/src/components/Modals/BlockCatalog/TransformationCatalog/TransformationCatalogFooter.js
  kuwala/core/canvas/src/components/Modals/BlockCatalog/TransformationCatalog/TransformationCatalogModal.js
  kuwala/core/canvas/src/components/Modals/BlockCatalog/TransformationCatalog/TransformationCatalogSelector.js
  kuwala/core/canvas/src/components/Modals/BlockCatalog/TransformationCatalog/transformation-example-table.css
  kuwala/core/canvas/src/components/Modals/TransformationCatalog/TransformationCatalogModal.js
  kuwala/core/canvas/src/components/Sidebar/index.js
  kuwala/core/canvas/src/constants/api.js
  kuwala/core/canvas/src/data/dto/ExportCatalogDTO.js
  kuwala/core/canvas/src/data/state/models/CanvasModel.js
  kuwala/core/canvas/src/data/state/models/CommonModel.js
  kuwala/core/canvas/src/pages/App.js
  kuwala/core/canvas/src/utils/IconsLoader.js
Labels: enhancement, frontend, backend, canvas
